<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
    <h1>Bienvenido al blog</h1>
    <ul>
        <li><a href="/entrada">Ver Entradas</a></li>
        <li><a href="/usuario">Ver Usuarios</a></li>
    </ul>
  </body>
</html>