<h1><%= titulo %></h1>
<ul>
<% entradas.forEach(function (entrada) { %>
    <li>
        <a href="/entrada/<%= entrada.id %>"><%= entrada.titulo %></a>
        <form action="/entrada/<%= entrada.id %>/eliminar" method="POST">
            <button type="submit">Eliminar</button>
        </form>
    </li>
<% }) %>
</ul>
<a href="/entrada/nuevo">Crear entrada</a>