<h1><%= titulo %></h1>
<ul>
<% usuarios.forEach(function (usuario) { %>
    <li>
        <a href="/usuario/<%= usuario.id %>"><%= usuario.nombre %></a>
        <form action="/usuario/<%= usuario.id %>/eliminar" method="POST">
            <button type="submit">Eliminar</button>
        </form>
    </li>
<% }) %>
</ul>
<a href="/usuario/nuevo">Crear usuario</a>