<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= usuario.titulo %></title>
  </head>
  <body>
    <h1><%= usuario.nombre %></h1>
    <p>usuario: <%= usuario.usuario %></p>
    <a href="/usuario/<%= usuario.id %>/editar">Editar</a>
    <a href="/usuario">Regresar</a>
  </body>
</html>